section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    text-align: center;
}

image_container {
    position: relative;
}
section img {
    border-radius: 15%;
}

h3, h4 {
    text-align: center;
    font-family: Tahoma;
}

.heart {
    width: 40px;
    height: 40px;
    top: 0px;
    display: inline;
    
}

#songs_header button {
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 15%;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
}

#songs_header input {
    display: block;
    margin: 0 auto;
    border: 2px solid skyblue;
    padding: 10px;
    border-radius: 10%;
     -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.4),
            0 0 16px rgba(0,0,0,0.4);
    margin-bottom: 15px;
}

.heart:hover, .thumbs:hover {
    transform: scale(1.5);
}

.artwork:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
}

.popularity:hover {
    animation: spin .5s;
}

.popularity {
    display: inline-block;
    margin-top: 15px;
}

.thumbs {
    width: 40px;
    height: 40px;
}

section p {
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


#songs_header p {
    margin-top: -15px;
    text-align: center;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    padding: 5px;
}

#click_prompt {
    border-radius: 20px;
    border: 2px solid lightcoral;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    width: 120px;
}

#click_prompt:hover {
    background-color: gray;
}

#prompt_container {
    display: flex;
    margin-top: 30px;
}

#tight {
    width: 50px;
    height:50px;
    /* justify-items: center;
    align-items: center; */
    /* display: block; */
    margin-left: 5px;
    border-radius: 20%;
    margin-top: 10px;
}